<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<appenders>
		<RollingRandomAccessFile name="framework" fileName="${sys:user.dir}/log/framework.log" filePattern="${sys:user.dir}/log/$${date:yyyy-MM-dd}/framework-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24" modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10000" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="pool" fileName="${sys:user.dir}/log/pool.log" filePattern="${sys:user.dir}/log/$${date:yyyy-MM-dd}/pool-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24" modulate="true" />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10000" />
		</RollingRandomAccessFile>
		<Async name="framework">
			<AppenderRef ref="framework" />
		</Async>
		<Async name="pool">
			<AppenderRef ref="pool" />
		</Async>
	</appenders>
	<loggers>
		<Root level="all">
			<appender-ref ref="framework" />
		</Root>
		<logger name="cn.framework.info" level="all">
			<appender-ref ref="framework" />
		</logger>
		<logger name="cn.framework.error" level="all">
			<appender-ref ref="framework" />
		</logger>
		<logger name="pool.framework.info" level="all">
			<appender-ref ref="pool" />
		</logger>
	</loggers>
</configuration>